/* src/App.css */

.service-card h4 .red-underline {
  content: "";
  height: 3px;
  width: 60px;
  background-color: transparent;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.service-card:hover h4 .red-underline {
  background-color: #e63946;
}
.service-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.service-card h4 .red-underline {
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.service-card:hover h4 .red-underline {
  background-color: #e63946;
}

.slider-section {
  background-color: #fdfdfd;
  padding: 60px 20px;
  margin-bottom: 0px;
}

.property-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

.property-card:hover {
  transform:  scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.card{
   transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}